.manageUsersContainer {
  padding: 20px;
  font-family: Arial, sans-serif;
  background-color: #1c1c1e; /* Black background */
  border-radius: 8px;
  color: #f7c518; /* Gold text color */
}

h1 {
  text-align: center;
  margin-bottom: 20px;
}

h2 {
  margin-bottom: 1.5rem;
  font-size: 1.8rem;
  color: #f7c518; /* Gold color for headings */
}

.groupsSection,
.usersSection {
  margin-bottom: 40px;
  border: 1px solid #444;
  padding: 20px;
  border-radius: 8px;
}

.groupsList {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
}

.groupCard {
  background: #2c2c2e;
  border: 1px solid #444;
  padding: 10px;
  border-radius: 8px;
  text-align: center;
  width: 150px;
  color: #f7c518;
}

.groupCard p {
  margin: 0;
}

.createGroup {
  margin-top: 20px;
  display: flex;
  gap: 10px;
}

.usersTable {
  width: 100%;
  border-collapse: collapse;
  margin-top: 1rem;
}

.usersTable th,
.usersTable td {
  border: 1px solid #444;
  padding: 10px;
  text-align: left;
  color: #f7c518;
}

.usersTable th {
  background: #f4f4f4;
}

.usersTable tr:nth-child(even) {
  background-color: #2c2c2e; /* Slightly lighter black for alternating rows */
}

.usersTable tr:hover {
  background-color: #444; /* Darker gray for hover effect */
}

.actionButton {
  background: #1d1d1d;
  color: white;
  border: none;
  padding: 5px 10px;
  border-radius: 4px;
  cursor: pointer;
}

.actionButton:hover {
  background: #b38f00;
}

.deleteButton {
  background: #dc3545;
  color: white;
  border: none;
  padding: 5px 10px;
  border-radius: 4px;
  cursor: pointer;
}

.deleteButton:hover {
  background: #a71d2a;
}

.roleDropdown {
  background-color: #2c2c2e; /* Dark background for dropdown */
  color: #f7c518; /* Gold text */
  border: 1px solid #444; /* Subtle border */
  border-radius: 4px;
  padding: 0.5rem;
  font-size: 1rem;
  cursor: pointer;
}

.modifyButton {
  background-color: #4caf50; /* Green button */
  color: #fff;
  border: none;
  border-radius: 4px;
  padding: 0.5rem 1rem;
  cursor: pointer;
  transition: background-color 0.3s ease, transform 0.2s ease;
  margin-right: 0.5rem;
}

.modifyButton:hover {
  background-color: #45a049; /* Darker green on hover */
  transform: scale(1.05); /* Slight scaling effect */
}