$popup-background: rgba(0, 0, 0, 0.5);
$popup-width: 300px;
$popup-padding: 20px;

.post-card {
  display: inline-block;
  border: 1px solid #ccc;
  padding: 15px;
  margin: 10px;
  border-radius: 5px;
}

.popup {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: $popup-background;
  display: flex;
  justify-content: center;
  align-items: center;
}

.popup-content {
  background: white;
  padding: $popup-padding;
  border-radius: 5px;
  width: $popup-width;
  text-align: center;
}

.modal-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.5); /* Dark overlay */
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    z-index: 1000; /* Ensures it stays on top */
}

.modal-content {
    display: flex;
    flex-direction: row;
    background: white;
    padding: 20px;
    border-radius: 100px;
    width: 40px; /* Adjust size as needed */
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
    position: relative;
}

select {
  margin-top: 10px;
  padding: 5px;
  width: 100%;
  border-radius: 5px;
}

button {
  margin-top: 20px;
  padding: 10px;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;

  &:hover {
    background-color: #0056b3;
  }
 
}