.sidebar {
    width: 250px;
    height: calc(100vh - 89px);
    background-color: rgba(0, 0, 0, 0.7);
    color: #f7c518;
    padding: 1rem;
    position: fixed;
    left: 0;
    top: 89px;
    box-shadow: 2px 0 8px rgba(0, 0, 0, 0.15);
  
    h2 {
      margin-bottom: 2rem;
    }
  
    ul {
      list-style: none;
      padding: 0;
  
      li {
        margin-bottom: 1rem;
  
        a {
          color: #f7c518;
          text-decoration: none;
          cursor: pointer;
          &:hover {
            color: #cea615;
          }
        }
      }
    }
  }
  
  .dropdown {
    position: relative;
  
    a {
      display: block;
      cursor: pointer;
    }
  
    &:hover .dropdownMenu {
      display: block;
    }
  }
  
  .dropdownMenu {
    display: none;
    position: absolute;
    left: 100%;
    top: 0;
    background-color: #1f2937;
    border-left: 2px solid #facc15;
    padding: 0.5rem;
    list-style: none;
    z-index: 20;
  
    li {
      margin: 0.5rem 0;
  
      a {
        color: #facc15;
        text-decoration: none;
  
        &:hover {
          text-decoration: underline;
        }
      }
    }
  }
  