//src/components/Login.module.scss

.signupContainer{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.signupForm {
    background: #fffefe8b;
    padding: 2rem;
    border-radius: 12px;
    box-shadow: 0 8px 16px rgba(0,0,0,0.1);
    width: 80%;
    align-items: center;

    h2{
        margin-bottom: 1.5rem;
        text-align: center;
        color: black;
    }

    input{
        width: 95%;
        padding: 0.75rem;
        margin-bottom: 1rem;
        border: 1px solid #ccc;
        border-radius: 8px;
        font-size: 1rem;


        &:focus{
            outline: none;
            border-color: #007bff;
        }
    }

    button{
        width: 100%;
        padding: 0.75rem;
        background-color: #000000;
        color: rgb(248, 223, 30);
        font-weight: bold;
        border: none;
        border-radius: 8px;

        &:hover{
            background-color: #414141;
        }
    }
}